:root {
    --bgColor: #262730; /*HSB: 210, 5, 5 */
    --firstBoxColor: #303233; /*HSB: 210, 5, 20 */
    --secondBoxColor: #494B4D; /*HSB: 210, 5, 30 */
    --thirdBoxColor: #616366;/*HSB: 210, 5, 40 */
    --negativeColor: #BF7373; /*HSB: , 40, 75 */
    --positiveColor: #73BF99; /*HSB: 150, 40, 75 */
    --neutralColor: #7399BF; /*HSB: 210, 40, 75 */
    --darkNeutralColor: #4A6A8C; /*HSB: 210, 40, 55 */
    --greyedOutColor: #B2B2B2; /*HSB: 0, 0, 30 */
    --textColor: #EDF0F2; /*HSB: 210, 5, 95 */
    --titleColor: #F2F9FF; /*HSB: 210, 5, 100 */
    --maxWidth: 700px;
    --minWidth: 340px;
}

/* CONTAINERS */

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--bgColor);
    color: var(--textColor);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main {
    display: flex wrap;
    flex-flow: column;
    overflow-y: auto;
    padding-bottom: 8rem;
    border-radius: .5rem;
    width: 100%;
    min-height: 80vh;
}

.mainMenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--maxWidth);
    min-width: var(--minWidth);
    height: 4rem;
    position: fixed;
    bottom: 0;
    border-radius: .5rem .5rem 0rem 0rem;
}

.subMenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    row-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--maxWidth);
    min-width: var(--minWidth);
    height: 4rem;
    position: fixed;
    bottom: 04rem;
    border-radius: .5rem;
}

.frame {
    border-radius: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: var(--maxWidth);
    min-width: var(--minWidth);
}

.level1 {
    background-color: var(--firstBoxColor);
}

.level2 {
    background-color: var(--secondBoxColor);
}

.level3 {
    background-color: var(--thirdBoxColor);
}

table {
    width: 100%;
    justify-content: left;
    align-items: left;
}

th, td {
    text-align: left;
    width: 3fr;
}

tr:nth-child(even) {
    background-color: var(--secondBoxColor);
}

tr:hover {
    background-color: var(--thirdBoxColor);
}

/* TEXT */

.title {
    align-content: center;
    color: var(--titleColor);
    text-align: center;
}

/* BUTTONS */

.button {
    border-style: none;
    border-width: 3px;
    width: min(3rem);
    height: min(3rem);
    font-weight: 600;
    color: var(--textColor);
    background-color: var(--neutralColor);
    margin: .5rem;
    border-style: none;
    border-radius: .5rem;
}

.button-active {
    background-color: var(--darkNeutralColor);
}

.button-inactive {
    background-color: var(--greyedOutColor);
}

.button-icon {
    width: 3rem;
    height: 3rem;
}